<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shihab.kotlintoday">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utility.KotlinToday"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".feature.spannable_text.SpanTextActivity"
            android:parentActivityName=".feature.HomeActivity"/>
        <activity
            android:name=".feature.custom_spinner.CustomSpinnerActivity"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.workmanager.WorkManagerActivity"
            android:label="@string/title_activity_work_manager"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.crashanalytics.CrashAnalyticsActivity"
            android:label="@string/title_activity_crash_analytics"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.coordinate_layout.CoordinateLayoutActivity"
            android:label="@string/title_activity_coordinate_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.navigation_fragment.DialogFragmentWithNavigationActivity"
            android:label="@string/title_activity_dialog_fragment_acivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.mvvm.ui.AddNoteActivity"
            android:parentActivityName=".feature.mvvm.ui.NoteActivity" />
        <activity android:name=".feature.parcelable.ReceiveParcelableAcitivty" />
        <activity android:name=".feature.parcelable.ParcelableActivity" />
        <activity
            android:name=".feature.mvvm.ui.NoteActivity"
            android:parentActivityName=".feature.HomeActivity" />
        <activity
            android:name=".feature.viewBinding.ViewBindingActivity"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.dynamic_delivery.DynamicDeliveryActivity"
            android:label="@string/title_activity_dynamic_delivery"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.ImageViewActivity"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.MaterialDialogActivity"
            android:label="@string/title_activity_material_dialog"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.ClassActivity"
            android:label="@string/title_activity_class"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.coroutine.CoroutineActivity"
            android:label="@string/title_activity_coroutine"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.ImplicitIntentActivity"
            android:label="@string/title_activity_implicit_intent"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.RecyclerViewWithRetromfitRx"
            android:label="@string/title_activity_recycler_view_with_retrofit_rx"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.LoopActivity"
            android:label="@string/title_activity_loop"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.FirstActivity"
            android:label="@string/title_activity_first"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.NextActivity"
            android:label="@string/title_activity_next"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.ConditionActivity"
            android:label="@string/title_activity_condition"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.DataTypeWithCalculatorActivity"
            android:label="@string/title_activity_data_type"
            android:parentActivityName=".feature.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>