<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.featurethree">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_featurethree">
        <dist:delivery>
            <dist:install-time>
                <dist:conditions>
                    <!-- To include or exclude this module by user countries, uncomment and update this section. -->
                    <!-- Learn more @ [https://d.android.com/r/studio-ui/dynamic-delivery/conditional-delivery] -->
                    <!--   <dist:user-countries dist:exclude="false"> -->
                    <!--     <dist:country dist:code="US" /> -->
                    <!--   </dist:user-countries> -->

                </dist:conditions>
            </dist:install-time>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>